# Git
.git
.gitignore
.github/
.gitlab/

# Logs & temp files
**/logs/
**/*.log
**/*.tmp
**/*.swp
**/*.DS_Store

# Build artifacts
**/bin/
**.test
**/test/
**/tests/
**.exe
**.out
coverage.out
*.coverprofile

# IDE
.vscode/
.idea/
**/.vscode/
**/.idea/

# Dependencies
**/vendor/
**/node_modules/

# Configs
**/.env
**/.env.*
**/.env.example
**/config/.env
**/config/.env.local
**/config/.env.prod
**/config/.env.dev
**/config/.env.example

# Linter configs (optional)
.golangci.yml
.golangci-lint*