# ===========================================
# Gateway Service Configuration
# ===========================================

# Окружение
ENV=local

# ===========================================
# HTTP Server
# ===========================================

HTTP_SERVER_ADDRESS=0.0.0.0:7970
HTTP_SERVER_TIMEOUT=5s
HTTP_SERVER_SHUTDOWN_TIMEOUT=5s
HTTP_SERVER_READ_TIMEOUT=10s
HTTP_SERVER_WRITE_TIMEOUT=10s
HTTP_SERVER_IDLE_TIMEOUT=60s

# ===========================================
# Auth / JWT
# ===========================================

JWT_SECRET=change_me
ACCESS_TOKEN_TTL=30m
REFRESH_TOKEN_TTL=168h

# ===========================================
# HTTP Services
# ===========================================

HTTP_AUTH_SERVICE_ADDR=http://auth-service:7971
HTTP_PRODUCTS_SERVICE_ADDR=http://products-service:7972
HTTP_USERS_SERVICE_ADDR=http://users-service:7973
HTTP_CART_SERVICE_ADDR=http://cart-service:7974
HTTP_ORDERS_SERVICE_ADDR=http://orders-service:7975
HTTP_NOTS_SERVICE_ADDR=http://nots-service:7976

# ===========================================
# gRPC Services
# ===========================================

RPC_AUTH_SERVICE_ADDR=auth-service:7071
RPC_PRODUCTS_SERVICE_ADDR=products-service:7072
RPC_USERS_SERVICE_ADDR=users-service:7073
RPC_CART_SERVICE_ADDR=cart-service:7074
RPC_ORDERS_SERVICE_ADDR=orders-service:7075
RPC_NOTS_SERVICE_ADDR=nots-service:7076

# ===========================================
# gRPC Client Options
# ===========================================

RPC_DIAL_TIMEOUT=20s
RPC_RETRY=3
