```dotenv
# ===========================================
# Auth Service Configuration
# ===========================================

# Окружение
ENV=dev

# ===========================================
# HTTP Server
# ===========================================

HTTP_SERVER_ADDRESS=0.0.0.0:7971

HTTP_SERVER_TIMEOUT=5s
HTTP_SERVER_READ_TIMEOUT=10s
HTTP_SERVER_WRITE_TIMEOUT=10s
HTTP_SERVER_IDLE_TIMEOUT=60s

# ===========================================
# JWT
# ===========================================

AUTH_JWT_SECRET=change_me
AUTH_ACCESS_TOKEN_TTL=24h
AUTH_REFRESH_TOKEN_TTL=168h

# ===========================================
# Services
# ===========================================

GATEWAY_SERVICE_ADDR=http://gateway-service:7970
PRODUCTS_SERVICE_ADDR=http://products-service:7972
USERS_SERVICE_ADDR=http://users-service:7973
CART_SERVICE_ADDR=http://cart-service:7974
ORDERS_SERVICE_ADDR=http://orders-service:7975
NOTS_SERVICE_ADDR=http://nots-service:7976

# ===========================================
# PostgreSQL
# ===========================================

POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=auth-db
POSTGRES_PORT=5432
POSTGRES_DB=auth_db
```

